[2011-12-17 04:37] TimBarton opened #1 "Easily switch from debug to Release"
If you want to  automatically  switch from staging to production.  Change the OpenTok CreateSession function to the following:

[code]
# if DEBUG

[code]
# else

[code]
# endif

[code]

When you build for release, the correct server will be selected.  Same is true when you are in debug mode.

The  JavaScript  can be done the same way.  Just place a literal tag where the javascript should be on the

[2012-04-12 23:41] alexziskind1 opened #2 "Options compatibility problem"
I'm not sure how this posting should be formatted so forgive the informality.

ISSUE:
The "CreateTime" option in the GenerateToken method should be changed to "create_time".
The way the code is currently breaks the API.

[2012-04-12 23:51] #2 closed, assigned to nobody

[2013-01-07 19:59] khalidabuhakmeh opened #4 "A Better .Net Exprience"
Hello,

I looked at this library and thought I would improve the user experience for .Net developers so I did the following in my repository.
- Created a .Net Nuget package for .Net users
- Created a Unit Testing Suite for .Net users
- Got rid of dictionaries and just using anonymous objects instead.

Check it out.

https://github.com/khalidabuhakmeh/OpenTokApi

Now to go and try to do something w

[2014-02-19 06:23] #4 closed, assigned to nobody

[2014-02-19 06:23] #1 closed, assigned to nobody

[2014-02-21 00:48] aoberoi opened #5 "write unit tests and add AppVeyor/TeamCity support"
make sure that the unit tests are using an API Key and Secret from some config (like environment variables) and the instructions to set this up is in the README.md

don't do integration tests (don't make network calls).

implement at the very least a common set of tests that are run across languages

output TAP?

http://www.appveyor.com/
http://teamcity.codebetter.com/
https://docs.google.com/spre

[2014-06-03 19:53] aoberoi opened #8 "add archiving sample"

[2014-06-03 19:53] aoberoi opened #9 "add sample documentation"

[2014-06-03 19:54] aoberoi opened #10 "adopt readme.md structure from other SDKs"

[2014-06-03 19:54] aoberoi opened #11 "deploy to nuget"

[2014-06-17 15:26] aoberoi opened #13 "change CreateSession default to return a relayed session"

[2014-06-17 21:25] #13 closed, assigned to nobody

[2014-06-20 16:16] aoberoi opened #16 "add "expired" state to archive representation"

[2014-06-20 16:16] aoberoi opened #17 "add test archives with unknown properties"

[2014-06-20 16:24] #17 closed, assigned to nobody

[2014-06-20 22:50] #16 closed, assigned to nobody

[2014-07-23 19:34] aoberoi opened #21 "archiving sample: json serialization"
when an Archive object is returned, the `status` field is serialized to an integer. it would be better and more self-descriptive to serialize to a string. look into Content Negotiation in Nancy. the `JsonProcessor` class is used to do the serialization.

[2014-07-23 19:39] aoberoi opened #22 "OpenTokWebException innerException"
When an `OpenTokWebException` occurs and the constructor which uses an inner exception is used (e.g. in HttpClient's doRequset method), the innerException field isn't populated.

[2014-07-28 20:21] eauge opened #23 "InvalidFormatException when using GenerateToken"
Opentok.CreateSession validates that the sessionId is indeed a sessionId. If the sessionId doesn't have the right format, an OpentokException should be thrown. Apparently some correct sessionIds trigger the OpentokException.

[2014-08-14 20:13] aoberoi opened #25 "Download and Install instructions improvements"
The instructions are not 100% complete. At the very least, if someone is installing with just the zip, they need to know about dependencies like http://james.newtonking.com/json

[2014-08-14 21:18] #23 closed, assigned to nobody

[2014-08-26 22:24] #8 closed, assigned to nobody

[2014-08-26 22:24] #9 closed, assigned to nobody

[2014-10-15 05:02] aoberoi opened #27 "Change session ID decoding algorithm used for tests"

[2015-01-16 17:27] aoberoi opened #28 "Archiving sample is missing"

[2015-02-06 21:45] aoberoi opened #29 "why is Session.Id a string while Archive.Id a Guid?"

[2015-02-06 22:03] aoberoi commented on #29
the fact is that session IDs are not `Guid` formatted strings. this incongruence is an eye sore. i don't see any real advantage of using a `Guid` for the `Archive.Id`, so one proposal is to just change it to a `string`. this would require a major version bump.

[2015-02-06 22:35] aoberoi opened #30 "Can we support non Microsoft .NET platforms (Mono)?"
Look into building on linux. If its possible, would have to update various sections in `DEVELOPING.md`.

[2015-02-07 23:01] aoberoi opened #31 "document and improve the generated documentation process"
*  We should be using the XML Generated docs so that Visual Studio can power Intellisense completions.
*  The simplest option for generating HTML docs from an assemble and the XML Generated docs would be [docu](http://docu.jagregory.com/). The most robust solution seems to be Sandcastle, but its known to be difficult to use/configure.
*  Formatting https://msdn.microsoft.com/en-us/library/vstudio/

[2015-02-07 23:19] aoberoi commented on #25
@dan-i-am sorry for the very late response. the main advantage is that this project is the officially supported SDK from TokBox, Inc. you are totally free to implement OpenTok's HTTP REST API in any manner you choose (such as using RestSharp in your project) and I agree that if you are trying to reduce dependencies, this is a good choice. But reducing dependencies is not a universal need, while su

[2015-02-08 00:01] #10 closed

[2015-02-08 00:01] #25 closed

[2015-02-08 00:03] aoberoi commented on #28
duplicate of #8

[2015-02-08 00:03] #28 closed

[2015-02-08 00:21] aoberoi commented on #21
cannot reproduce. this might have been automatically fixed by a dependency updating.

[2015-02-08 00:21] #21 closed

[2015-02-08 01:27] #11 closed

[2015-02-08 02:06] aoberoi commented on #31
the title of this issue is confusing, but i meant what i said. particularly, i want to not only revise the process of generating documentation, but also document the process itself in `DEVELOPING.md`.

[2015-02-20 16:22] aoberoi opened #36 "readme typo, generatetoken signature"
"You can generate a token either by calling an OpenTokSDK.OpenTok instance's GenerateToken(string sessionId, Role role, double expireTime, double data) method, or by calling a OpenTokSDK.Session instance's GenerateToken(Role role, double expireTime, double data) method after creating it."

data should be a string

[2015-02-21 00:47] #36 closed

[2015-03-04 05:21] aoberoi opened #38 "control default timeout"
feature request from opentok-node, probably applies here too.

[2015-03-04 05:21] aoberoi opened #39 "proxy support"
feature request from opentok-node, probably applies here too

[2015-03-04 05:22] aoberoi opened #40 "Standardize error handing"
There needs to be a set of Error types defined and their meaning nailed down so that developers can predictably deal with error conditions.

This will also be subject to an internal API Review.

[2015-03-04 05:22] aoberoi opened #41 "Feature: integration testing"
sometimes just checking against canned responses (fixtures) is not good enough.

the main use case for integration testing is running the suite against the internal nightly build environment to detect problems (incompatible API changes, bad handling in the SDKs, etc) early.

one of the challenges in running integration tests is that many of the operations being tested require a specific state on t

[2015-03-04 05:24] aoberoi commented on #27
session IDs are not decoded in the tests, and it sounds like a bad idea.

[2015-03-04 05:24] #27 closed

[2015-03-04 05:29] aoberoi opened #42 "log .NET version in User-Agent"

[2015-03-04 05:32] aoberoi opened #43 "organize unit tests better"
there's only one test Class right now: `OpenTokTest`. There should be another one to test the API for Archives named `ArchiveTest`, and possibly even `ArchiveListTest`. it should be as DRY as possible so the common method tests should ideally only be implemented once.

[2015-03-04 05:34] aoberoi commented on #43
also, the request bodies are not currently tested.

[2015-03-04 22:32] #5 closed

[2015-03-04 22:34] aoberoi commented on #30
looks like It Just Works™

[2015-03-04 22:34] #30 closed

[2015-03-05 03:38] aoberoi opened #47 "testing: less than CLR 4.0?"
right now both the travis and appveyor CI build configurations force CLR 4.0 or greater. the build fails with less versions but it might be something trivial.

[2015-05-01 16:14] aoberoi opened #51 "add auto archived sessions support"
API:

[code]

[2015-05-01 16:15] aoberoi opened #52 "add individual and composed archive support"
API:

[code]

[2015-05-01 16:16] aoberoi opened #53 "add new archiving features to Archiving sample app"
*  `hasAudio`, `hasVideo` checkboxes
*  `individual` or `composed` radio buttons
*  `name` field (optional)

[2015-05-01 16:31] aoberoi commented on #51
the implied value for `MediaMode` makes the implementation unnecessarily complicated because it would prevent using the default values language feature. instead the API should require `mediaMode` to be set to` MediaMode.ROUTED`

[2015-05-02 00:19] #51 closed

[2015-05-02 00:19] #52 closed

[2015-05-02 00:19] #53 closed

[2015-09-22 23:17] aoberoi opened #60 "update helloworld sample to use `OT` instead of `TB`"

[2016-03-29 02:30] NVentimiglia opened #62 "Xamarin Support on nuget"
This library is fully compatible with Xamarin projects. Please update the nuget package to support Xamarin IOS and Android projects so we can import this project directly using nuget.... and not have to copy and paste the code into our project. manually...

[2016-03-29 04:54] aoberoi commented on #62
@NVentimiglia: we don't recommend using the server SDKs in client applications (iOS and Android). Unless you have some very special circumstances, that's usually a bad way to build you app. The server SDK needs access to your API Secret, and shipping that in a client application is very tricky to do without compromising security. You typically use this package to create a web service that your cli

[2016-03-29 05:20] NVentimiglia commented on #62
That is a fair point, I will put this on the server.

[2016-03-29 05:20] #62 closed

[2016-06-17 23:01] rhainer opened #65 "Use create-session REST API that returns JSON data"
There is a new version of the create-session REST API that returns JSON data when you include an "Accept: application/json" header in the request. If this is used the XML library dependency can be eliminated.

[2016-07-11 23:28] puneetshettyp opened #66 "Add support for HLS Broadcast APIs - Start, Stop, Get, Layout Control API"

[2016-07-31 23:09] aoberoi opened #67 "API Proposal: Broadcasts with Layout"
This is a request for comments regarding the API for upcoming platform functionality. The platform functionality is not generally available at the moment and there is no guarantee it will be released in any form.

this is related to #66
## Broadcasts
### Create a Broadcast

[code]
### Stop a Broadcast

[code]
### Get a Broadcast

[code]
### Get a Broadcast Layout

[code]
### Update a Broadcast Lay

[2016-07-31 23:13] aoberoi opened #68 "Make blocking network APIs asynchronous"
it would be nice to use `async` and `await` in c# code.

[2016-07-31 23:27] aoberoi commented on #67
we plan to begin an implementation next week. please comment at your earliest convenience.

[2016-09-17 19:46] Raj123456788 opened #69 "Request for Screensharing Application using .net Libraries"
Hello There,
               I am looking for a cross-platform solution that would capture the screen,
Encode(VP8) &amp; stream desktop @ 1080p , 30 fps.May I please request for sample app on screensharing crossplatform desktop apps showing 30fps?

Also, does open tok SDK supports streaming of Audio on Android.

Thanks,
Raj

[2016-11-15 19:25] shaunbowe opened #70 "OpenTokException does not expose InnerException"
We have intermittent errors scheduling interviews with OpenTok and all we see is "Error with request submission". Is there a reason the exception parameter is not passed to System.Exception as the InnerException? It would be helpful to debug intermittent errors.

[2016-11-24 21:56] rmenezes opened #71 "HelloWorld Sample does not work in 2 windows"
Hi
I'm having a problem with the HelloWorld sample, when I open more than one window, the others do not load the new frame. I had this problem developing a personal project and the same happened with the sample taken here.

![capturar](https://cloud.githubusercontent.com/assets/1154679/20632387/3d819b68-b324-11e6-9fc2-4369be770072.PNG)

Can anybody help me?
Thanks!

[2016-12-12 02:28] aullman commented on #69
This is not the right place for this kind of question. This repository is specifically for the OpenTok .net SDK and any issues/questions related to that project.

[2016-12-12 02:28] #69 closed

[2016-12-12 02:33] aullman commented on #70
Good question. I don't see a strong reason why not. Please feel free to submit a PR.

[2016-12-12 02:45] aullman commented on #71
I'm guessing this is because it's using a really old version of opentok.js

[2016-12-12 02:50] #71 closed

[2016-12-15 01:31] jeffswartz opened #73 "OpenTok.ListArchives() does not support filtering by session ID"
The OpenTok REST API now lets you filter by session ID when getting a list of archives: https://tokbox.com/developer/rest/#listing_archives. (You pass in a `sessionId` query parameter when calling the REST API method.) The `OpenTok.ListArchives()` methods in the OpenTok .NET server SDK does not support this session ID filter.

[2017-03-29 00:02] aullman opened #75 "Newtonsoft is out of date"
Reported by a partner:

[2017-06-16 02:31] #75 closed

[2017-06-16 02:51] #60 closed

[2017-07-31 22:20] aiham opened #84 "Use long instead of int for Archive's Size property"
Because int has a limit of 2147483647 which results in an error when the archive is larger than 2GB.

[2017-08-03 12:53] prabhakarreddy1234 opened #85 "How does the scheduled meetings work?"
If i want to schedule a group video conference in the future date then when does the session gets created or how to make sure all participants joins same session ? Is it that session will be created when a conference is scheduled but token will be generated when the users start joining the conference. Any sample code would be nice.

[2017-08-03 14:29] prabhakarreddy1234 opened #86 "Showing participant's name along with their stream"
Is there anyway to display participant's name along with the stream in a group video conference ? I am just seeing 2 `div`s in the html. Not sure if we can customize it.

[2017-08-03 16:35] aullman commented on #86
Yes, if you pass a name property to the publisher when you create it then that name will appear on all of the subscribers to that publisher.

[code]

More details at https://tokbox.com/developer/sdks/js/reference/OT.html#initPublisher

[2017-08-03 16:35] #86 closed

[2017-08-03 16:37] aullman commented on #85
You can create a session with the server SDK at any time. Servers will not be provisioned for that session until the first participant joins. So you can create sessions up front for meetings you know will happen in the future. Then when it's time for people to join the session, that's when you should generate a token for them, because the tokens will expire.

[2017-08-03 16:37] #85 closed

[2017-08-09 13:29] ratanosian commented on #84
Any word on if this will be updated? If so, what kind of time-frame are we looking at?

[2017-08-16 06:24] #84 closed

[2017-09-12 21:17] uchetto opened #91 "CreateSession exception"
Hello everyone,
I'd like to know why this code is not ok. When i run it an exception is raised on CreateSession method.
The error is:

"Error with request submission"

I checked the apikey and secret key and they are ok.

This also happens with the demo solution.

Thanks in advance....

Here is the code:

Dim opentok As New OpenTok(API_KEY, API_SECRET)
        Dim opentokSession As Session

[2017-09-13 03:43] aiham commented on #91
@uchetto Can you enable debug mode?

[code]

[2017-09-13 03:44] aiham commented on #91
Make sure you don't keep debug mode turned on in a production environment.

[2017-09-13 08:53] uchetto commented on #91
Thank you, I tried, but no more information about exception
This is the text of error:

'OpenTokSDK.Exception.OpenTokWebException' in OpenTok.dll

The stack trace:

"   in OpenTokSDK.Util.HttpClient.DoRequest(String url, Dictionary`2 specificHeaders, Dictionary`2 bodyData)" & vbCrLf & "   in OpenTokSDK.Util.HttpClient.Post(String url, Dictionary`2 headers, Dictionary`2 data)" & vbCrLf & "   in Ope

[2017-09-13 13:13] uchetto commented on #91
This is a screenshot of example application HelloWorld. I obtain the same error. During CreateSession the error was generated at this line of CreateSession:

var response = Client.Post("session/create", headers, data);

![image](https://user-images.githubusercontent.com/16920233/30379158-dad50a10-9895-11e7-894a-4c680585b6ba.png)

Can you help me? I cannot understand why it happens.

Thank you...

[2017-09-14 01:47] aiham commented on #91
@uchetto You received an `Issuer not found` error. This is because you are using your account ID which begins with 3. You need to use your project ID which begins with 4.

[2017-09-14 01:48] #91 closed

[2017-09-14 07:14] uchetto commented on #91
Excuse me, i don't understand..I have apikey and secretkey. What is account ID?
Thanks for reply

[2017-09-14 07:34] uchetto commented on #91
Ahhhhhh, I understand now. I generated apikey and apisecret for an embedded project and not for opentok api project.

Thank you so muchhhhhhh!!!!

[2017-11-27 14:53] lvass74 opened #92 "outputMode.ToString().ToLower() generates invalid data if called within Turkish Culture settings"
https://github.com/opentok/Opentok-.NET-SDK/blob/6cede8d6867e9542b624241122b02070128b278b/OpenTok/OpenTok.cs#L270

Dear Opentok Developers,

We recently faced a very annoying issue where our StartArchive called resulted in a ""The request was aborted: The request was canceled." exception for clients in Turkey.

After multiple days of debugging we found out that it was not related with Turkey as a

[2017-11-27 22:41] aiham commented on #92
Thanks for tracking down this issue @lvass74! I was actually in discussion with Charley and others about your issue and it was very confusing. Really great to hear an explanation for that strange behaviour. I'll work on this fix right away.

[2017-11-28 00:52] #92 closed

[2017-11-28 08:13] lvass74 commented on #92
Thanks for the quick reaction and the fix!

[2018-01-05 15:52] kayhuba opened #94 "archive model has no password attribute"
The class OpenTokSDK.Archive does not contain a "Password" field. This field is required when retrieving information about an encrypted archive. See https://static.opentok.com/developer/enterprise/content/OpenTok-encryption/#decrypting-an-archive

Since the REST API call returns the JSON attribute already, the change is minimal.

[2018-01-06 13:59] unicomp21 opened #96 "raw audio buffers"
How do I get access to the raw audio buffer?

[2018-01-08 00:51] aiham commented on #96
Hi @unicomp21. If you want access to the audio streamed in a session you'll either need to connect to a session using a client SDK (Web/Mobile/Desktop) and access the audio track or you can download an archive of the session and process the video file yourself. You can use the .NET SDK to retrieve the URL of your archive file but it does not have access to any audio buffers. Does that answer your

[2018-01-09 03:38] aiham commented on #94
@kayhuba Thank you!

[2018-01-09 03:38] #94 closed

[2018-01-15 04:25] #96 closed

[2018-03-26 18:31] dkokotov commented on #38
Bumping this old issue.

Recently we had a problem because an OpenTok server bug caused all API calls to hang, as a result, in our downstream application things were hanging as well, because we were waiting on those opentok calls.

It would be great to be able to set the timeout to something more reasonable, the default i think is 100 seconds (https://docs.microsoft.com/en-us/previous-versions/win

[2018-05-04 13:14] SwintDC opened #97 ".NET Core compatible?"
Is this library .NET Core compatible? Or is there a .NET Core compatible version of this library?

There is some confusion because there is a .NET Core Cli command to install this library on https://www.nuget.org/packages/OpenTok. But this website https://icanhasdot.net says it's not supported.

[2018-05-20 00:59] aatobaa opened #98 "CreateSession() Failing with JWT 4.0.0.0"
The OpenTok NuGet Package states that it accepts JWT versions >= 2.3.2 but fails when the assembly contains a reference to version 4.0.0.0.

Exception: Could not resolve type with token 0100004b (from typeref, class/assembly JWT.IJwtAlgorithm, JWT, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null)

Stack trace:
at OpenTokSDK.Util.HttpClient.GetCommonHeaders () [0x00005] in <85a76a4b5d324419bd

[2018-05-21 19:53] duenwaldd1 commented on #98
This was my error:
"
Method not found: 'Void JWT.JwtEncoder..ctor(JWT.IJwtAlgorithm, JWT.IJsonSerializer, JWT.IBase64UrlEncoder)'.
"

Thank you for pointing out it was caused by JWT 4.0.0,
I downgraded to 3.1.1 and now it's all working again!

[2018-05-22 03:50] gadeweever commented on #98
Hey so I'm getting the same error. I don't know that downgrading is a solution here if we have another assembly dependent on JWT 4.0.0. But also so others don't run into this issue in the future, the nuget package should specify that it is incompatible with JWT 4.0.0 and, since that is the current version, the default experience for including OpenTok in a project is broken.

Are there any plans to

[2018-06-30 02:49] msach22 opened #101 "API Proposal: HD Archiving"
This is an API Proposal regarding the recently added platform functionality for archiving in HD.

## Archive Resolution
The platform now allows the resolution to be set for Composed archives. See [docs](https://tokbox.com/developer/rest/#start_archive)
The parameter is a string: `resolution` -  The resolution of the archive (either "640x480" or "1280x720"). This property is only set for composed a

[2018-07-03 17:41] utkarshkhokhar commented on #101
LGTM 👍

[2018-07-04 09:05] robjperez commented on #101
I don't like that a given combination of parameters could produce an error (probably the user won't even capture the error). IMHO, it is better if we can limit that, so the user doesn't need to worry if the parameters are ok or not.

My proposal is to modifify the outputMode to include the resolution, so there won't be a way to specify INDIVIDUAL + HD.

Something like this:
[code]

[2018-07-09 15:36] msach22 commented on #101
@robjperez I personally think that this adds complexity and is not as clear as specifying a resolution. This would also change the current options for `OutputMode` instead of introducing another option (resolution) which is what's actually changing. The term `HD` can be confusing if in the future the platform supports (1280x960) which is high definition with a 4:3 aspect ratio in the future.

[2018-07-10 19:00] msach22 commented on #101
@robjperez This is a good point, I'm okay with adding to the existing enum for `outputMode`, but I don't think we should assume that the caller of the API doesn't care about the exact resolution.

We could do something like `OutputMode.COMPOSED_1280x720` so we don't mislabel the resolution.

@jpujol What do you think? @utkarshkhokhar ?

[2018-07-11 00:20] msach22 commented on #101
@robjperez I've been thinking about this more and I prefer a resolution parameter over adding the resolution as a part of the `outputMode`. Here's why:

- The JS, PHP, & Python SDKs follow the same approach and it's good to have the same parity because it's easier for developers to go from one SDK to another.
- The REST API also has `outputMode` and `resolution` properties instead of having both b

[2018-07-11 09:13] robjperez commented on #101
It is try that we need to be consistent in all languages, but I think the way to go is to change the others instead of following a bad pattern just for consistency.

About the API, I think a REST api is a different thing than a SDK. You cannot enforce types like enums (there is no compilation stage) in http request so answering a `Bad Request` is acceptable if the user of the API hasn't read the d

[2018-07-11 16:32] msach22 commented on #101
I respectfully disagree. I don't think that this is a "bad" pattern because the same argument can be made that the developer would get an OpenTokArgumentException if they don't read the documentation for the Server SDKs.

I would prefer not to break the three SDKs for the hundreds of partners that are using our SDKs.

[2018-07-11 17:23] robjperez commented on #101
You don't need to break the SDK to add new values to an enum, old values are still valid so no code will be broken with this change.

When I was saying that this method is like setting a trap for the developer is just because of that, because the developer will need to read the documentation (do you remember Uncle Bob about the code is the documentation?) when we can help them by using the compile

[2018-07-12 23:02] puneetshettyp commented on #101
Very compelling arguments on both sides. I do not want to comment on usability of the method. But I do want to comment on how the resolution parameter is expected to evolve in the future. We have started an API review for web-view based layout control for archiving. The idea with this advanced layout control would be to allow for more flexible layouts and hence move beyond the standard resolutions

[2018-07-13 10:49] robjperez commented on #101
@puneetshettyp I think we need to control the resolution in a way or the other. We cannot allow arbitrary values to be passed as argument, or we could call the method using `"1x1"` or `"1234x9876"` values that we will probably fail.

I think using enum values is extensible in the sense that you can always add new values to the enum in future versions of the SDK.

[2018-07-13 21:05] msach22 opened #102 "API Proposal: Get Stream"
This is an API Proposal regarding the get stream API call.

## Get Stream
The platform allows a signal to be sent to an active session. See [docs](https://tokbox.com/developer/rest/#get-stream-info).

We propose to add a new method for getting stream info.

### `GetStream()`
[code]

[2018-07-16 20:20] jpujol commented on #101
I would not use `HD` or names for resolutions... in the future we may have more, and putting names to all of them is going to be confusing

[2018-07-17 21:18] jeffswartz commented on #101
I like this proposal. I suppose we could add enum values for the two supported resolutions, but I don't see it as necessary (and I agree with @jpujol's point about naming possibly conflicting with future resolutions). I think we should have the implementation in the OpenTok .NET SDK match the REST API and the implementation in the other server SDKs (and this proposal matches those).

I do not like

[2018-07-18 10:58] robjperez commented on #101
@jeffswartz It isn't a breaking change, we can deprecate `OutputMode.COMPOSED` and say that it will be same that using `OutputMode.COMPOSED_VGA` so we can support both elements in the enum.
If you read Apple documentation about `AVCaptureSession.Preset`, it is exactly the same.

In general I think having functions with conflicting parameters is not a good idea, there are always a workaround to the

[2018-07-18 15:46] msach22 opened #103 "API Proposal: ForceDisconnect()"
This is an API Proposal regarding the force disconnect API call.

## Force Disconnect
The platform allows you to disconnect an active client endpoint. See [docs](https://tokbox.com/developer/rest/#forceDisconnect).

We propose to add a new method for force disconnecting.

### `ForceDisconnect()`
[code]

[2018-07-23 22:52] msach22 commented on #101
@robjperez A couple of points here:
- I don't think introducing two methods to create sessions is the right approach because it's more confusing than helpful.
- Secondly, I don't think having a resolution parameter with arbitrary resolution values is a bad thing because it gives the developer the luxury to set whichever resolution they want. Just because the developer has the option to feed in a c

[2018-07-24 18:10] jpujol commented on #101
@robjperez we may accept any resolution in the future, up to a certain value. I think the enum solution will not scale

[2018-07-25 08:56] robjperez commented on #101
@jpujol when you say _any_, you mean an arbitrary string?, Would I able to use "1234x2" or "0.5x1000" ?

[2018-07-25 20:03] jpujol commented on #101
well, any *valid* resolution, from a minimum to maybe 2k. So valid resolutions would be 400x300, 100x100 or 1280x960, or even in portrait mode: 300x400, 960x1280.

Probably the minimum value for any dimension will be 16 (just taking a guess here)

[2018-08-02 06:25] panther008 opened #106 "OpenTok.CreateSession throwing object reference exception"
Hi
I have implemented open tok in my .net project every thing was working fine until today as opentok.create session() is giving me object reference error.Please guide ASAP.I am using  Newtonsoft.Json = 10.0.2
nuget JWT = 2.3.2
nuget OpenTok = 2.4.7

[2018-08-02 14:43] msach22 commented on #106
@panther008 @timophy We disabled support for TLS 1.0 yesterday which is what your issue looks like.
Can you please confirm you're not using TLS 1.0 on your production environment?

You can also force TLS1.2 by doing the following:
`ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12`

[2018-08-02 16:40] timophy commented on #106
@msach22 That fixed it for me. Thanks!

[2018-08-02 17:25] msach22 commented on #106
@timophy happy to help!

[2018-08-03 05:26] panther008 commented on #106
yes issue is fixed. thanks for help.

[2018-08-03 05:26] #106 closed

[2018-08-27 18:14] ratanosian opened #107 "Paused Minutes in Archive Duration"
A few months ago, you started including Paused Minutes in the Duration field of the Archive object.  Since then, the Duration has not matched the actual length of the Archived Video.  If I look at the Archive Inspector tool, there is a Running Minutes field that shows the correct video length.  I believe you should either correct the Duration field so it only includes Running Minutes, or you shoul

[2018-08-29 16:54] skalinets opened #108 "NullReferenceException in CreateSession"
Hi,

I have very weird issue. Following code works fine when running locally, but throws nullref when deployed to Azure web app.

Code:

[code]
Exception:
[code]

I enabled Debug mode and redirected `Console.Out` to a `StringWriter`. Here is what I got when code is running in Azure:

[code]
And this one is produced when the same code is running on localhost:
[code]

I thought that probably jwt tok

[2018-08-29 17:09] skalinets commented on #108
I tried to make the same call to API from Azure Diagnostic Console using powershell script, and also got "The underlying connection was closed" error.

[2018-08-29 19:36] eccdev commented on #108
I'm experiencing the same issue on an AWS EC2 instance. I was working on the development server for a production app that had some other changes related to Google Maps and was checking everything else when the error occurred. The TokBox code has been running for several years with no problems, so I opened the sample project and the same error occurred. I'll try it locally and see what happens.

[2018-08-30 10:09] skalinets commented on #108
@eccdev yes, it is. One day of pulling my hear out has been fixed by one line :)
Thanks!

[2018-08-30 10:15] skalinets commented on #108
Are there any reasons of why this line should not be in opentok SDK?

[2018-08-30 11:35] skalinets commented on #108
here is the link to support article https://support.tokbox.com/hc/en-us/articles/360000373020-Getting-error-while-creating-session-using-OpenTok-Net-SDK

[2018-08-30 11:54] eccdev commented on #108
It's still somewhat incomplete. It seems like it's also needed for archiving calls, even the one to get archive info. It's funny that they don't mention going from ASP.NET 4.5.x to 4.6, and in the case of a large solution, this can be a headache.

[2018-08-30 16:30] msach22 commented on #108
@skalinets Thanks for reporting the issue and sorry for the delayed response my end. As of Aug 1st, the our servers only accept TLS1.1 and above. This means that any API call that's made to OpenTok servers must be done using TLS1.1 or above.

We haven't hard coded that in the SDK because we don't want to limit our users to TLS 1.1 or TLS1.2 (it should be picking up from the server environment).

Y

[2018-08-31 07:41] skalinets commented on #108
@msach22 I think 2 changes would help someone who will face this or similar issue

1. Handle send failures errors and throw exception with meaningful message
1. Include recommendation regarding TLS upgrade into exception message

[2018-08-31 17:41] msach22 commented on #108
That sounds like a great idea @skalinets! If you're up for it, please submit a PR, if not I will try to add this in the near future 😄

[2018-09-03 01:58] msach22 commented on #107
@ratanosian Could you please contact support@tokbox.com and share the Archive ID with them where you're not seeing the duration field match the length of the archive.

This does not seem like an issue with the .NET SDK instead with the Archiving functionality.

[2018-09-04 12:03] ratanosian commented on #107
I already have been in touch with Tokbox support (https://support.tokbox.com/hc/en-us/requests/22980) and they told me to open an Issue here.

If you look at an Archive in the Archive Inspector, there are 4 times available:
**Meeting Duration**
**Archive Duration** <- This is the Duration field reported by the .NET SDK
**Running Minutes** <- This is the actual length of the archived video file, th

[2018-09-13 13:11] ratanosian commented on #107
Is there any update on this?  Basically I just need a way to get the Running Minutes field from the SDK.  Is this possible or can it be added?

[2018-10-04 14:39] ratanosian commented on #107
Please respond.  I am still waiting on a way to get Running Minutes.

[2018-10-04 16:34] ggoldens opened #112 "Adding methods for OpenTok live streaming broadcasts"
This is an API proposal for adding methods for working with OpenTok live streaming broadcasts
to the OpenTok .NET SDK.

See: https://tokbox.com/developer/guides/broadcast/live-streaming/)
and https://tokbox.com/developer/rest/.

## **API additions**

[code]

## **Sample code**

[code]

[2018-10-17 13:40] ratanosian commented on #107
Still no response.  I am reopening a support ticket.  Being able to access Running Minutes should not be difficult.

[2018-10-22 16:17] msach22 commented on #107
@ratanosian Apologies for the delayed response! Unfortunately, we are unable to provide the `running minutes` field as a part of the .NET SDK because it's not a part of the API response: https://tokbox.com/developer/rest/#start_archive.

This is something that is calculated manually by the Archive Inspector tool. To achieve this, you would have to do your own calculations.

[2018-10-24 20:48] msach22 commented on #107
@ratanosian I'm going to go ahead and close this issue, please let me know if you have any questions!

[2018-10-24 20:48] #107 closed

[2018-10-25 21:51] msach22 opened #118 "API Proposal: Signaling"
This is an API Proposal regarding the signaling API call.

## Signal
The platform allows you to signal an active client endpoint or to all clients connected to the session. See [docs](https://tokbox.com/developer/rest/#send_signal).

We propose to add a new method for signaling.

### `Signal()`
[code]

[2018-10-26 21:14] msach22 commented on #118
This has been released with `v3.1.0`.

[2018-10-26 21:14] #118 closed

[2018-10-26 21:15] msach22 commented on #103
This has been released with `v3.1.0`.

[2018-10-26 21:15] #103 closed

[2018-10-26 21:15] msach22 commented on #102
This has been released with `v3.1.0`.

[2018-10-26 21:15] #102 closed

[2018-10-26 21:15] msach22 commented on #101
This has been released with `v3.1.0`.

[2018-10-26 21:15] #101 closed

[2018-10-26 21:15] msach22 commented on #67
This has been released with `v3.1.0`.

[2018-10-26 21:15] #67 closed

[2018-10-26 21:15] msach22 commented on #66
This has been released with `v3.1.0`.

[2018-10-26 21:15] #66 closed

[2018-10-26 21:15] msach22 commented on #112
This has been released with `v3.1.0`.

[2018-10-26 21:15] #112 closed

[2018-10-31 14:39] MelnikovIG commented on #97
@msach22 Hey, is there any chance that this package will be updated to modern net standard? Referenced JWT and Newtonsoft.Json libraries has support net standard long time ago.

[2018-11-01 05:00] msach22 commented on #42
Closing this because the SDK logs the version of the useragent: https://github.com/opentok/Opentok-.NET-SDK/blob/master/OpenTok/Util/HttpClient.cs#L46

[2018-11-01 05:00] #42 closed

[2018-11-12 16:29] msach22 commented on #107
@ratanosian At this time, we use internal APIs to calculate the running minutes. Unfortunately, at this time, we do not have a mechanism in place to expose those APIs. I've forwarded your request to our product team and will update you as soon as I have more information.

[2018-12-05 14:10] llauderesv commented on #108
Hi Everyone,

I having a problem regarding with this when I tried to create a session in OpenTok. The error says "**Error with request Submission**"

Here's the screenshot of the error.
![image](https://user-images.githubusercontent.com/20419473/49518734-4c368300-f8da-11e8-9743-359e73d35743.png)

- I'm already using the OpenTok using via Nuget
- Already tried to force the protocol  TLS1.2 and TLS1

[2018-12-10 15:13] msach22 commented on #108
@llaudersev, Could you please upgrade to the latest OpenTok .NET SDK - we are currently on v3.1.0?
Could you please expand the `View Details` section and share the information?

[2018-12-12 02:01] llauderesv commented on #108
@msach22 If I upgrade to the latest version of OpenTok I think theres a need to upgrade a .NET Framework. Currently we're using .NET Framework version 4.0 in the production that's the reason why I use OpenTok 2.2.3 to support our current .NET framework.

[2018-12-12 02:36] msach22 commented on #108
@llauderesv As far as I know, .NET 4.0 does not support TLS 1.1 or TLS 1.2 which is why you would have to upgrade to 4.5 at the very minimum. OpenTok does not support TLS 1.0 so you have use to TLS 1.1 or TLS 1.2 to communicate with our API servers.

[2018-12-12 05:58] llauderesv commented on #108
@msach22 Upon installing the latest OpenTok v3.1.0 I encountered this error.

upon checking in my Application we are currently using .NET Framework v4.5.1 I tried to upgrade .NET Framework v4.5.1 to v4.6.1 and the installation was successful. Any inputs on this?

[2018-12-12 06:36] llauderesv commented on #108
Hi @msach22,

I already tried to work in OpenTok v3.1.0 in my Application and I encounter this error. I also forcing to use the TLS1.2 Kindly see the screenshot of my error. Thanks.

![image](https://user-images.githubusercontent.com/20419473/49851120-05391800-fe1b-11e8-9303-b3ca27c6f35b.png)

![image](https://user-images.githubusercontent.com/20419473/49851153-23067d00-fe1b-11e8-8603-85c9e44dcd1b

[2018-12-13 18:42] msach22 commented on #108
@llauderesv Could you please confirm that you application is running .NET 4.5? I recommend running the HelloWorld sample within this repo to see if it works for you.

https://github.com/opentok/Opentok-.NET-SDK/tree/master/Samples/HelloWorld

[2019-01-11 11:58] janoonaj commented on #98
No fix yet?

[2019-01-29 23:19] msach22 commented on #97
Yes, we do plan on adding support for .NET Core, but unfortunately I don't have a timeline for that just yet.

[2019-02-15 08:34] PK1NONLY opened #120 "Listing to signal on server end"
can i listen to the  signal on sever end ?? is ot possible??

[2019-02-15 13:21] PK1NONLY commented on #107
is there any update on this??

[2019-02-15 13:39] PK1NONLY opened #121 "implement session monitoring .NET"
i am trying to implement session monitoring using .net,
i can see the option for configure callback url, but icannot find any example for callback url,
can i a sample for callback url ?? how it should look like??

[2019-02-15 18:57] msach22 commented on #120
@PK1NONLY Thanks for filing an issue. It's not possible to listen to signals on the server side - you can only send signals from the server.

[2019-02-15 18:57] #120 closed

[2019-02-15 18:58] msach22 commented on #121
At this time, OpenTok don't support configuring callbacks via the REST API or the Server SDKs. You can only do that through the account dashboard: https://tokbox.com/account

[2019-02-15 18:58] #121 closed

[2019-02-15 19:48] msach22 commented on #107
@PK1NONLY No update on this yet, we do not have a mechanism in place to expose APIs to calculate the running minutes.

[2019-02-21 09:46] PK1NONLY commented on #121
hi thanks for reply can you  please give an example how can i write the call back url using .NET,
the configuration of the call back url is given the documentation, but i cannot find any example or sample project for creating the call back url

[2019-02-21 18:04] msach22 commented on #121
@PK1NONLY Setting up the callback is dependent on your application server and the libraries you use. Unfortunately, I'm unable to help with that since it's application logic. You would need to set a path and configure that within the TokBox Dashboard. You would also need to make sure that the server is reachable and not just running on localhost.

[2019-03-11 09:39] pratik1509 commented on #97
core nuget package does not have methods for Sending Signal.

[2019-03-12 17:52] msach22 commented on #97
@pratik1509 The .NET Core package is not supported by us so I'm afraid we're unable to do anything about that. I'll update this issue once I have a definite timeline on adding official support for .NET Core

[2019-05-03 14:19] fidergo-stephane-gourichon commented on #108
This is a serious issue because the SDK does not work out-of-the-box. This creates incident and puts feeling of flakey SDK onto your users.

I have read comment https://github.com/opentok/Opentok-.NET-SDK/issues/108#issuecomment-417382335-permalink which states:

I agree that the line should not be in SDK itself, but it should be in caller code, with a comment stating when to remove it.

Having a

[2019-05-06 22:59] msach22 commented on #108
@fidergo-stephane-gourichon That's a fair point. What if we updated our samples and the README of the SDK? This way the TLS code would not be in the code of the SDK, but would show you how to make it work in your app.

[2019-05-29 19:39] Cereal-Killa commented on #98
Same story here.

[2019-05-29 19:44] gadeweever commented on #98
@Cereal-Killa we actually decided to move this call to an isolated service outside of our project because downgrading was not acceptable. The service references 2.3.2 and only handles OpenTok features. This is a compromise but we don't have the bandwidth to invest in looking at the source yet.

[2019-06-06 20:29] MenaceSan opened #123 "CreateSession fails at app start."
CreateSession fails at app start.
Must configure your app to use only TLS 1.2
as of 6/6/19 the OpenTok .NET samples are broken unless you make this change.

OpenTok /.NET samples
https://github.com/opentok/Opentok-.NET-SDK

add to OpenTokService.cs:
System.Net.ServicePointManager.SecurityProtocol = System.Net.SecurityProtocolType.Tls12

Create a demo account . make changes to the app.config for yo

[2019-08-05 14:42] jez9999 commented on #97
This is slightly beyond belief.  .NET Core has been out for years and you guys still don't have a package that supports it?!  This one is pretty useless for new web apps!

[2019-08-07 20:35] abidCharlotte49er commented on #123
I have set SecurityProtocol to Tls12 it still fails. I have tried all 5 param combinations I can pass. What am I missing ?

![image](https://user-images.githubusercontent.com/2357276/62656000-41346680-b931-11e9-879c-d8882a3be49d.png)

[2019-08-07 20:42] abidCharlotte49er commented on #108
How is it going @msach22 I've tried forcing SecurityProtocol to Tls12 as seen in the image. It still fails for 5 different combinations I tried. I can confirm I'm using OpenTok 3.1.0 i got from Nuget and my project is .NETCore which supports Tls12. Am I missing something? Appreciate your help!!

![image](https://user-images.githubusercontent.com/2357276/62656394-1565b080-b932-11e9-8993-a31033fbfbc

[2019-08-09 11:59] abidCharlotte49er commented on #123
I have also tried with the OpenTok's sample app, added security protocol as seen in the image. I'm still can't create session, getting same error like I'm getting in my application. @MenaceSan  @msach22  any updates on this are much appreciated.  Currently we hit the rock bottom with this error, Please help!!!

at OpenTokSDK.Util.HttpClient.DoRequest(String url, Dictionary`2 specificHeaders, Dicti

[2019-08-09 14:44] abidCharlotte49er commented on #123
Additional details related to exception. You can see the Protocol is set to Tls12 in the watch window. "The remote server returned an error: (403) Forbidden." Not sure why i'm getting forbidden error. I can confirm I'm copying these key and secret I see on my dashboard.

![image](https://user-images.githubusercontent.com/2357276/62787370-91770a00-ba92-11e9-9b2b-73b573465c99.png)

![image](https://

[2019-08-09 18:19] msach22 commented on #123
@MenaceSan Could you please check that the JWT token that your server is generating is not expired and is valid? The Server SDK generates the JWT token, but if your application server clock is out of sync there can be issues on the expiration. You can check the token validation and expiration on jwt.io

[2019-08-12 16:01] abidCharlotte49er commented on #123
@msach22 @MenaceSan That was it. I always set my clock few minutes ahead to troubleshoot things at our end. I understand how JWT token generated with that can cause this issue. There is absolutely no way I could have figured this issue without your inputs. Thank You so much really appreciate your time on this.

[2019-08-12 16:02] msach22 commented on #123
Happy to help @abidCharlotte49er 😄

[2019-08-31 21:52] ErikAndreas commented on #97
Nuget [package](https://www.nuget.org/packages/OpenTokNetStandard/) for .Net Standard 2 but it only implements the CreateSession and GenerateToken methods (PR's welcome!). Rather "modern" (used with Azure Functions) and lightweight. Disclaimer: author of package

But, modern official support for .Net would have been nice!

[2019-10-17 03:18] AresDev commented on #97
Any news?

[2019-12-11 18:25] qzzf1w opened #124 "ScreenSharing with System Audio"
I am looking to share my screen (which I can do) and share system audio.

Their is no concept of audioprovider that I can see.
Just a boolean flag which picks up the default mic.

Is it possible to extend the SDK to achieve my goal?

[2020-01-15 11:42] ababutski commented on #98
Same for us. But in our case we checked out opentok project from github and rebuild it for .Net Framework (4.7.2) with latest JWT package (5.3.1) and latest Newtonsoft.Json (12.0.3), that solved the problem. As a solution may be you can create different project version for different target framework.

[2020-02-10 19:00] slorello89 commented on #123
Fyi - the tls1.2 setting in the samples is going to be resolved by #125

[2020-03-17 22:26] nnaig08 commented on #108
Hi Everyone,

We are experiencing the following error in creating session, hoping for your quick response to what might be causing this and possible solution, Thank you

The underlying connection was closed: Could not establish trust relationship for the SSL/TLS secure channel.

Note:

We have a multiple instance of web apps hosted in the same server, two of them uses opentok capability to have a

[2020-03-17 22:45] msach22 commented on #108
@nnaig08 Thanks for raising this. Could you verify the time clock on the application that's not working is up to date?

[2020-03-17 22:57] nnaig08 commented on #108
Hi @msach22  yup, the time is in sync and up to date. We are really out of options regarding this issue, had rendered almost half day searching for possible solutions but still no avail. :(

[2020-03-24 11:06] omerciftcibasi commented on #97
@AresDev I am able to create sessions on .net core, however I am getting signal "error with request submission" error while sending signal on Server. Is is something related to that your are not supporting .net core?

[2020-04-02 15:21] Joanvo opened #127 "ListStreams throws exception when no streams are connected"
For what I have investigated, when a session is recently created and no streams have connected, the function `ListStreams` throws an exception instead of returning an empty list. When streams have connected and then disconnected, it returns an empty list instead of throwing an exception. The underlying reason is the http connection returning different status codes depending on those two situations

[2020-04-16 02:19] slorello89 commented on #108
Hi @nnaig08 - Sorry for the delay in getting back to you, the issue you're referring to is almost certainly not an issue with the SDK or even anything in your code - it's almost certainly an issue with either the cert store on the server or VM that you're running on or with how IIS is configured. Our API endpoints uses GoDaddy as a root CA - which is typically installed on windows by default. Can

[2020-05-10 01:58] slorello89 commented on #127
Hi @Joanvo thanks for reaching out - I'm sorry for writing back so late -

This actually is the expected behavior - as the streams for the session really don't exist until after media is added to it - that said - we are exploring adding some extra logic to the SDKs to double check to see if a session exists before sending back a 404 - but we're not sure of the feasibility yet. You have pointed out

[2020-05-10 02:00] slorello89 commented on #123
Closing out this item as it has been resolved by #125

[2020-05-10 02:00] #123 closed

[2020-05-14 12:58] Joanvo commented on #127
Hi @slorello89 , thank you for your response.

Still disagree since the output I would expect in this case is an empty list, since we're trying to get a collection and the result exists, but it's an empty collection. And also getting a 404 makes it difficult to differentiate if the session is not found or the streams are not there.

Anyway, any change in the library that can help with that will be

[2020-05-18 11:27] pompiamp opened #131 "GenerateToken With expireTime has no effect"
Hi, we are using the method OpenTok.GenerateToken()
to grant tokens to a session with an expire time of 3 minutes _(as an example)_

But the user is able to:
-Join the session after 3 minutes of token being created.
-when joining the session, it can last much more than 3 minutes (we tested 10 minutes sessions, both participants had a token of 3 minutes of expire time)

we generate the expireTime l

[2020-05-22 13:11] justlearntutors commented on #98
We have the same issue. Can the TokBox team fix the bug?

[2020-05-22 14:18] #131 closed

[2020-05-23 08:19] justlearntutors opened #132 "403 Forbidden with Sample HelloWorld"
We can't make the sample HelloWorld work. We get 403 Forbidden error.

[2020-05-23 10:01] slorello89 commented on #132
@justlearntutors - a 403 points to an invalid api_key or web token see - https://tokbox.com/developer/rest/#session_id_production can you check that your credentials are set correctly. If your certain they are please contact support@nexmo.com - they are going to be able to point you in the right direction

[2020-06-11 16:37] slorello89 commented on #97
Version 3.2.0 adds a new path for .net standard 2.0 so the sdk is now compatible with .NET Core. Big shout out to @danikun for making it happen.

[2020-06-11 16:37] #97 closed

[2020-06-11 16:39] slorello89 commented on #98
The 3.2.0 version of the SDK has now been updated to pull in the latest version of JWT for all versions of .NET above .NET 4.6.2 so this should be resolved.

[2020-06-11 16:39] #98 closed

[2020-06-11 16:44] slorello89 commented on #132
I think this is not an SDK issue so I'm going to close it out - please feel free to reopen if it persists.

[2020-06-11 16:44] #132 closed

[2020-06-11 16:44] slorello89 commented on #124
Hi @qzzf1w - pretty sure this is not related to the server SDK - can you find us in the Vonage Developers community slack so we can discuss? https://developer.nexmo.com/community/slack

thanks!

[2020-06-11 16:44] #124 closed

[2020-06-11 16:45] slorello89 commented on #47
Closing as it looks like <4.5.2 support was removed some time ago

[2020-06-11 16:45] #47 closed

[2020-07-22 19:00] slorello89 commented on #127
Hi @Joanvo I wanted to update you and anyone else who might encounter this on this item,

Unfortunately at the moment, we're unable to do anything in the SDK to mitigate this. As I said the 404 for a newly created and unpopulated list is apparently the expected behavior and the docs do reflect that now. We have no visibility into whether the API is tossing the 404 because the session doesn't exist

[2020-08-13 13:49] ababutski opened #145 "layoutType and stylesheet not implemented for CreateArchive"
The OpenTok REST API provides layoutType selection and custom stylesheet for сomposed archives
https://tokbox.com/developer/rest/#start_archive
But .Net SDK doesn't have such options.

[2020-08-13 19:01] slorello89 commented on #145
Hi @ababutski thanks for writing in, I've opened #146 to resolve this.

[2020-08-17 18:03] slorello89 commented on #145
Hi @ababutski - This issue is resolved per [v3.4.0](https://www.nuget.org/packages/OpenTok/3.4.0). Closing this out - let us know if you run into any other issues.

[2020-08-17 18:03] #145 closed

[2020-08-18 16:12] ababutski opened #148 "OpenTok.StartArchive with layout != LayoutType.Custom and StyleSheet == """
OpenTok.StartArchive() method call with
var layout = new ArchiveLayout
{
                Type = LayoutType.verticalPresentation,
                StyleSheet = ""
};
throws an exception "Only custom type may have stylesheet". But it looks like this case has to be covered in here
https://github.com/opentok/Opentok-.NET-SDK/blob/06211aa913711f591c3564985d4caa572dae79c3/OpenTok/OpenTok.cs#L286

[2020-08-18 16:34] slorello89 commented on #148
Hi @ababutski, I can't reproduce this on my end - are you sure that's the state of the layout object when you're calling `StartArchive`? Can you share a sample with me reproducing the error?

[2020-08-18 17:00] slorello89 commented on #148
Hi @ababutski - this does point out some missing test cases in the PR I just merged so I opened a new one with them. Your case is: https://github.com/opentok/Opentok-.NET-SDK/pull/149/files#diff-2e1774c18226f056e66f367a2d4587f1R718 - and it is passing. Let me know if you have anything that can help me track down what the issue is.

Thanks,

[2020-08-19 13:23] ababutski commented on #148
Hi @slorello89. I looked at tests. They are run with mocked HttpClient, so requests are not sent to real server. And this is a key difference.
I tested this case with two examples:
First one:
var layoutType = new ArchiveLayout
            {
                Type = LayoutType.verticalPresentation,
                **StyleSheet = ""**
            };
var archive = openTok.StartArchive(sessionId, string

[2020-09-16 19:01] Cereal-Killa commented on #98
.NET Framework 4.8 project here, no matter what I do the release 3.4.0 claims for JTW version 2.0.0.0:

`Could not load file or assembly 'JWT, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)`

[2020-09-17 12:52] slorello89 commented on #98
Hi @Cereal-Killa - I took the [Hello World](https://github.com/opentok/Opentok-.NET-SDK/tree/master/Samples/HelloWorld)  sample, bumped it to 4.8 and retargeted to JWT 7.2.1 - with no issue. Try reinstalling the packages and trying that.

If that doesn't work, if you could recreate the problem in a sample app you could point me to, and open a new Issue I'd be happy to take a look.

[2021-02-24 09:21] serhiimilkovskyi opened #159 "OpenTok startArchive/stopArchive on the FE side"
Hi
I need to connect start/stopArchive functionality but on the frontend-side. Is there a way to do it on the FE side?

I created two ways to start archive from the FE and for both solutions, I always get the CORS issue.
@msach22, could you help me?

1) Using fetch

[code]

2) via opentok npm package

[code]

[2021-02-24 09:24] #159 closed

[2021-02-24 09:25] serhiimilkovskyi commented on #159
wrong section -> moved to https://github.com/opentok/opentok-node/issues/239

[2022-01-04 14:30] matt-lethargic commented on #108
As the last comment on this issue is approaching two years ago and with the fact that there have been two merged PRs to aid in fixing this, I am now going to close. If there are more outstanding issues relating to TLS versions please re-open or create a new issue.

[2022-01-04 14:30] #108 closed

[2022-01-04 14:34] matt-lethargic commented on #22
No longer valid issue

[2022-01-04 14:34] #22 closed

[2022-01-04 14:53] matt-lethargic commented on #29
Reading through the documentation shows that the `Broadcast` and `Session` IDs are random strings while the `Archive` ID is in fact a `GUID` for this reason I see no reason to change `Archive.Id` to a string.

[2022-01-04 14:53] #29 closed

[2022-01-04 15:13] matt-lethargic commented on #70
Closing.

[2022-01-04 15:13] #70 closed

[2022-01-04 15:22] matt-lethargic commented on #127
Closing due to inactivity and age.

[2022-01-04 15:22] #127 closed

[2022-01-04 15:23] matt-lethargic commented on #73
Closing as resolved with #143

[2022-01-04 15:23] #73 closed

[2022-05-17 09:00] #68 closed

[2022-05-17 09:32] matt-lethargic commented on #43
Closing due to age

[2022-05-17 09:32] #43 closed

[2022-06-06 09:34] mend-for-github-com[bot] opened #192 "xunit.2.4.1.nupkg: 2 vulnerabilities (highest severity is: 7.5) - autoclosed"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>xunit.2.4.1.nupkg</b></p></summary>

<p></p>
<p>Path to dependency file: /OpenTokTest/OpenTokTest.csproj</p>
<p>Path to vulnerable library: /home/wss-scanner/.nuget/packages/system.text.regularexpressions/4.3.0/system.text.regularexpressions.4.3.0

[2022-06-06 09:34] mend-for-github-com[bot] opened #193 "nancy.viewengines.razor.1.1.0.nupkg: 1 vulnerabilities (highest severity is: 7.3) - autoclosed"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>nancy.viewengines.razor.1.1.0.nupkg</b></p></summary>

<p></p>
<p>Path to dependency file: /Samples/Archiving/Archiving.csproj</p>
<p>Path to vulnerable library: /home/wss-scanner/.nuget/packages/nancy/1.1.0/nancy.1.1.0.nupkg</p>
<p>

<p>Found in

[2022-08-09 12:03] mend-for-github-com[bot] opened #195 "newtonsoft.json.12.0.3.nupkg: 1 vulnerabilities (highest severity is: 7.5) - autoclosed"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>newtonsoft.json.12.0.3.nupkg</b></p></summary>

<p>Json.NET is a popular high-performance JSON framework for .NET</p>
<p>Library home page: <a href="https://api.nuget.org/packages/newtonsoft.json.12.0.3.nupkg">https://api.nuget.org/packages/newton

[2022-11-17 01:02] mend-for-github-com[bot] opened #202 "microsoft.owin.hosting.3.0.1.nupkg: 1 vulnerabilities (highest severity is: 7.5) - autoclosed"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>microsoft.owin.hosting.3.0.1.nupkg</b></p></summary>

<p></p>
<p>Path to dependency file: /Samples/Archiving/Archiving.csproj</p>
<p>Path to vulnerable library: /home/wss-scanner/.nuget/packages/microsoft.owin/3.0.1/microsoft.owin.3.0.1.nupkg</p>